.formControl.error input,
.formControl.error textarea {
    border: 1px red solid;
}

.formControl.error span {
    color: red;
}

.formSummeryError {
    border: solid red 1px;
    padding: 5px;
    color: red;
}